.collections {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 16px;
}

.collection {
  margin-bottom: 16px;
  cursor: pointer;
}

.collection img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
}

.collection__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.collection__info h1 {
  font-weight: 500;
  font-size: 16px;
}

.collection__info span {
  font-size: 13px;
  color: gray;
}
